@import 'libs/reset.scss';

#progress {
    height: 3px;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(255, 210, 7, 0.651);
    z-index: 9999;
    transition: width .15s ease-in-out;
}

html {
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    z-index: 9999;
    background-image: url('../img/nav_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: "";
        width: 100%;
        height: 70vh;
        background-color: rgba(253, 10, 10, 0.575);
        position: absolute;
        top: 0;
        left: 0;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    nav {
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(253, 10, 10, 0.384);
        z-index: 9999;
        .headroom--pinned {
            top: 0
          }
          .headroom--unpinned {
            top: -40%
          }
        ul {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                align-self: center;
                a {
                    text-decoration: none;
                    color: white;
                    padding-bottom: 2px;
                    transition: all .1s ease-in-out;
                    font-size: 1.3em;

                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
                .blog_btn {
                    padding: 10px;
                    border-radius: 4px;
                    background-color: rgba(110, 31, 31, 0.452);
                    transition: all .25s ease-in-out;

                    &:hover {
                        box-shadow: 0px 0px 10px white;
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .title {
        text-align: center;
        color: white;
        z-index: 9998;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2em;
            margin: 20px;
        }

        h2 {
            font-size: 1.3em;
            font-style: italic;
        }
    }

    .contact_me {
        z-index: 9997;
       display: flex;
       justify-content: center;
       margin-top: 30px;

       a {
           text-decoration: none;
           padding: 15px;
           border: 3px solid rgb(199, 151, 80);
           border-radius: 30px;
           background-color: rgb(199, 151, 80);
           color: white;
           transition: all .3s ease-in-out;
           text-transform: uppercase;
           font-weight: bold;

           &:hover {
               background-color: transparent;
           }
       }
    }
}

.contact {
    padding: 50px 0 50px 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(253, 10, 10, 0.274);
    h1 {
        font-size: 2em;
        margin-bottom: 40px;
        padding: 10px;
        background-color: white;
    }
    form {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        input {
            background-color: transparent;
            align-self: center;
            width: 70%;
            border: none;
            border-bottom: 2px solid rgba(66, 66, 66, 0.575);
            margin: 10px 0 10px 0;
            font-size: 1.2em;
            transition: all .3s ease-in-out;
            &:focus {
                border-color: red;
                outline: none;
            }
        }
        textarea {
            font-size: 1.2em;
            padding: 10px;
            margin: 20px 0 20px 0;
            border: 2px solid rgba(66, 66, 66, 0.575);
            border-radius: 20px;
            resize: none;
            text-align: left;
            transition: all .3s ease-in-out;
            &:focus {
                border-color: red;
                outline: none;
            }
        }
        #sub {
            border: 2px solid rgba(197, 54, 54, 0.486);
            transition: all .3s ease-in-out;
            background-color: rgba(197, 54, 54, 0.486);
            border-radius: 15px;
            width: 50%;

            &:hover {
                color: white;
                border-color: white;
                background-color: rgba(128, 128, 128, 0.37);
            }
        }
    }
    p {
        color: red;
    }
}

.about {
    z-index: 999;
    background-image: url('../img/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
        content: " ";
        position: absolute;
        top: 71vh;
        width: 100%;
        height: 30vh;
        color: white;
        background-color: rgba(207, 84, 84, 0.575);
    }

    h1 {
        color: white;
        font-weight: bold;
        z-index:1000;
        font-size: 1.5em;
        margin-bottom: 20px;

    }

    p {
        display: inline-block;
        padding: 20px;
        background-color: rgba(235, 235, 235, 0.849);
        color: black;
        font-style: italic;
        font-weight: 400;
        z-index: 1000;
        width: 50%;
    }
}

footer {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgba(253, 10, 10, 0.384);
    border-top: 2px solid rgba(87, 35, 35, 0.575);

    .social {
        display: flex;
        justify-content: space-around;

        a {
            margin: 0 10px 0 10px;
            margin-top: 15px;
            font-size: 2em;
            color: rgba(128, 128, 128, 0.678);
            transition: all .3s ease-in-out;

            &:hover {
                color: gray;
            }
        }
    }
}

.split {
    width: 100%;
    height: 1vh;
    background-color: rgba(97, 11, 11, 0.815);
}

.projects {
    padding: 40px 0 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(207, 163, 163, 0.171);

    >h1 {
        font-size: 3em;
        margin: 20px 0 40px 0;
        color: white;
        padding: 10px;
        background-color:rgb(146, 55, 55);
    }

    .list_projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0 20px 0;

        .singleProject {
            padding: 15px;
            border-radius: 15px;
            box-shadow: gray 0px 5px 15px;
            background-color: rgba(153, 90, 90, 0.329);
            text-align: center;
            width: 30%;
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transition: all .3s ease-in-out;

            &:hover {
                box-shadow: gray 0px 5px 10px;
                background-color: rgba(153, 90, 90, 0.411);
            }

            .status {
                display: inline-block;
                padding: 5px;
                color: white;
                margin: 10px 0 10px 0;
            }

            .dispo {
                background-color: rgba(0, 128, 0, 0.616);
            }

            .en_cours {
                background-color: rgba(255, 166, 0, 0.616);
            }

            .mom_indisp {
                background-color: rgba(255, 0, 0, 0.616);
            }

            >img {
                width: 40%;
                border-radius: 50%;
                border: 2px solid rgb(184, 68, 68);
            }

            >a {
                margin-bottom: 10px;
                text-decoration: none;
                padding: 10px;
                border: 1px solid rgb(184, 48, 48);
                background-color: rgb(184, 48, 48);
                transition: all .3s ease-in-out;
                color: white;
                border-radius: 20px;

                &:hover {
                    background-color: rgba(184, 48, 48, 0.349);
                    color: white;
                }
            }

            >h1 {
                color: rgba(37, 22, 22, 0.808);
                font-size: 1.4em;
                font-weight: bold;
            }

            >img {
                margin: 10px 0 10px 0;
            }

            .text_project {
                font-style: italic;
            }

            .techno_project {
                margin: 10px 0 10px 0;

                strong {
                    font-weight: bold;
                }
            }

            .date {
                color: gray;
            }
        }
    }
}

// lk

.skills {
    border-top: 2px solid rgba(212, 141, 141, 0.322);
    border-bottom: 2px solid rgba(190, 100, 100, 0.377);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    background-color: rgba(212, 141, 141, 0.26);

    h1 {
        font-size: 3em;
        margin: 20px 0 40px 0;
        color: white;
        padding: 10px;
        background-color:rgb(175, 112, 76);
    }
}

.skillbar {
	position:relative;
	display:block;
	margin:15px 0 15px 0;
    width:80%;
	background:#eee;
    height:35px;
	border-radius:3px;
	transition:0.1s linear;
    transition-property:width, background-color;

    .skillbar-bar {
        height:35px;
        width:0px;
        background:#6adcfa;
        border-radius:3px;
    }
    
    .skillbar-title {
        position:absolute;
        top:0;
        left:0;
        width:110px;
        font-weight:bold;
        font-size:13px;
        color:#ffffff;
        background:#6adcfa;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;

        span {
            display:block;
            background:rgba(0, 0, 0, 0.1);
            padding:0 20px;
            height:35px;
            line-height:35px;
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
        }
    }

    .skill-bar-percent {
        position:absolute;
        right:10px;
        top:0;
        font-size:11px;
        height:35px;
        line-height:35px;
        color:#ffffff;
        color:rgba(0, 0, 0, 0.4);
    }
}
