@import 'libs/reset.scss';

#progress {
    height: 3px;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(255, 210, 7, 0.651);
    z-index: 9999;
    transition: width .15s ease-in-out;
}

html {
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    z-index: 9999;
    background-image: url('../img/nav_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: "";
        width: 100%;
        height: 70vh;
        background-color: rgba(253, 10, 10, 0.575);
        position: absolute;
        top: 0;
        left: 0;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    nav {
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(253, 10, 10, 0.247);
        z-index: 9999;
        .headroom--pinned {
            top: 0
          }
          .headroom--unpinned {
            top: -40%
          }
        ul {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                align-self: center;
                a {
                    text-decoration: none;
                    color: white;
                    padding-bottom: 2px;
                    transition: all .1s ease-in-out;
                    font-size: 1.3em;

                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }
    .title {
        text-align: center;
        color: white;
        z-index: 9998;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2em;
            margin: 20px;
        }

        h2 {
            font-size: 1.3em;
            font-style: italic;
        }
    }

    .contact_me {
        z-index: 9997;
       display: flex;
       justify-content: center;
       margin-top: 30px;

       a {
           text-decoration: none;
           padding: 15px;
           border: 3px solid rgb(199, 151, 80);
           border-radius: 30px;
           background-color: rgb(199, 151, 80);
           color: white;
           transition: all .3s ease-in-out;
           text-transform: uppercase;
           font-weight: bold;

           &:hover {
               background-color: transparent;
           }
       }
    }
}

.contact {
    padding: 50px 0 50px 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(253, 10, 10, 0.274);
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    form {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        input {
            background-color: transparent;
            align-self: center;
            width: 70%;
            border: none;
            border-bottom: 2px solid rgba(66, 66, 66, 0.575);
            margin: 10px 0 10px 0;
            font-size: 1.2em;
            transition: all .3s ease-in-out;
            &:focus {
                border-color: red;
                outline: none;
            }
        }
        textarea {
            font-size: 1.2em;
            padding: 10px;
            margin: 20px 0 20px 0;
            border: 2px solid rgba(66, 66, 66, 0.575);
            border-radius: 20px;
            resize: none;
            text-align: left;
            transition: all .3s ease-in-out;
            &:focus {
                border-color: red;
                outline: none;
            }
        }
        #sub {
            border: 2px solid rgba(197, 54, 54, 0.486);
            transition: all .3s ease-in-out;
            background-color: rgba(197, 54, 54, 0.486);
            border-radius: 15px;
            width: 50%;

            &:hover {
                color: white;
                border-color: white;
                background-color: rgba(128, 128, 128, 0.37);
            }
        }
    }
    p {
        color: red;
    }
}

.about {
    z-index: 999;
    background-image: url('../img/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
        content: " ";
        position: absolute;
        top: 71vh;
        width: 100%;
        height: 30vh;
        color: white;
        background-color: rgba(207, 84, 84, 0.575);
    }

    h1 {
        color: white;
        font-weight: bold;
        z-index:1000;
        font-size: 1.5em;
        margin-bottom: 20px;

    }

    p {
        padding: 20px;
        background-color: rgba(235, 235, 235, 0.76);
        color: black;
        font-style: italic;
        font-weight: 400;
        z-index: 1000;
        width: 50%;
    }
}

footer {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgba(253, 10, 10, 0.384);
    border-top: 2px solid rgba(87, 35, 35, 0.575);

    .social {
        display: flex;
        justify-content: space-around;

        a {
            margin: 0 10px 0 10px;
            margin-top: 15px;
            font-size: 2em;
            color: rgba(128, 128, 128, 0.678);
            transition: all .3s ease-in-out;

            &:hover {
                color: gray;
            }
        }
    }
}

.split {
    width: 100%;
    height: 1vh;
    background-color: rgba(97, 11, 11, 0.815);
}