/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#progress {
  height: 3px;
  position: fixed;
  top: 10vh;
  left: 0;
  background-color: rgba(255, 210, 7, 0.651);
  z-index: 9999;
  -webkit-transition: width .15s ease-in-out;
  transition: width .15s ease-in-out;
}

html {
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

header {
  z-index: 9999;
  background-image: url("../img/nav_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
}

header::before {
  content: "";
  width: 100%;
  height: 70vh;
  background-color: rgba(253, 10, 10, 0.575);
  position: absolute;
  top: 0;
  left: 0;
}

header nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(253, 10, 10, 0.384);
  z-index: 9999;
}

header nav .headroom--pinned {
  top: 0;
}

header nav .headroom--unpinned {
  top: -40%;
}

header nav ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 1.3em;
}

header nav ul li a:hover {
  border-bottom: 2px solid white;
}

header nav ul li .blog_btn {
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(110, 31, 31, 0.452);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

header nav ul li .blog_btn:hover {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  border-bottom: none;
}

header .title {
  text-align: center;
  color: white;
  z-index: 9998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title h1 {
  font-size: 2em;
  margin: 20px;
}

header .title h2 {
  font-size: 1.3em;
  font-style: italic;
}

header .contact_me {
  z-index: 9997;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

header .contact_me a {
  text-decoration: none;
  padding: 15px;
  border: 3px solid #c79750;
  border-radius: 30px;
  background-color: #c79750;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
}

header .contact_me a:hover {
  background-color: transparent;
}

.contact {
  padding: 50px 0 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(253, 10, 10, 0.274);
}

.contact h1 {
  font-size: 2em;
  margin-bottom: 40px;
  padding: 10px;
  background-color: white;
}

.contact form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form input {
  background-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  border: none;
  border-bottom: 2px solid rgba(66, 66, 66, 0.575);
  margin: 10px 0 10px 0;
  font-size: 1.2em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact form input:focus {
  border-color: red;
  outline: none;
}

.contact form textarea {
  font-size: 1.2em;
  padding: 10px;
  margin: 20px 0 20px 0;
  border: 2px solid rgba(66, 66, 66, 0.575);
  border-radius: 20px;
  resize: none;
  text-align: left;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact form textarea:focus {
  border-color: red;
  outline: none;
}

.contact form #sub {
  border: 2px solid rgba(197, 54, 54, 0.486);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rgba(197, 54, 54, 0.486);
  border-radius: 15px;
  width: 50%;
}

.contact form #sub:hover {
  color: white;
  border-color: white;
  background-color: rgba(128, 128, 128, 0.37);
}

.contact p {
  color: red;
}

.about {
  z-index: 999;
  background-image: url("../img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about::before {
  content: " ";
  position: absolute;
  top: 71vh;
  width: 100%;
  height: 30vh;
  color: white;
  background-color: rgba(207, 84, 84, 0.575);
}

.about h1 {
  color: white;
  font-weight: bold;
  z-index: 1000;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.about p {
  display: inline-block;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.849);
  color: black;
  font-style: italic;
  font-weight: 400;
  z-index: 1000;
  width: 50%;
}

footer {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  width: 100%;
  background-color: rgba(253, 10, 10, 0.384);
  border-top: 2px solid rgba(87, 35, 35, 0.575);
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .social a {
  margin: 0 10px 0 10px;
  margin-top: 15px;
  font-size: 2em;
  color: rgba(128, 128, 128, 0.678);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .social a:hover {
  color: gray;
}

.split {
  width: 100%;
  height: 1vh;
  background-color: rgba(97, 11, 11, 0.815);
}

.projects {
  padding: 40px 0 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(207, 163, 163, 0.171);
}

.projects > h1 {
  font-size: 3em;
  margin: 20px 0 40px 0;
  color: white;
  padding: 10px;
  background-color: #923737;
}

.projects .list_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
}

.projects .list_projects .singleProject {
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: gray 0px 5px 15px;
          box-shadow: gray 0px 5px 15px;
  background-color: rgba(153, 90, 90, 0.329);
  text-align: center;
  width: 30%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.projects .list_projects .singleProject:hover {
  -webkit-box-shadow: gray 0px 5px 10px;
          box-shadow: gray 0px 5px 10px;
  background-color: rgba(153, 90, 90, 0.411);
}

.projects .list_projects .singleProject .status {
  display: inline-block;
  padding: 5px;
  color: white;
  margin: 10px 0 10px 0;
}

.projects .list_projects .singleProject .dispo {
  background-color: rgba(0, 128, 0, 0.616);
}

.projects .list_projects .singleProject .en_cours {
  background-color: rgba(255, 166, 0, 0.616);
}

.projects .list_projects .singleProject .mom_indisp {
  background-color: rgba(255, 0, 0, 0.616);
}

.projects .list_projects .singleProject > img {
  width: 40%;
  border-radius: 50%;
  border: 2px solid #b84444;
}

.projects .list_projects .singleProject > a {
  margin-bottom: 10px;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #b83030;
  background-color: #b83030;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
  border-radius: 20px;
}

.projects .list_projects .singleProject > a:hover {
  background-color: rgba(184, 48, 48, 0.349);
  color: white;
}

.projects .list_projects .singleProject > h1 {
  color: rgba(37, 22, 22, 0.808);
  font-size: 1.4em;
  font-weight: bold;
}

.projects .list_projects .singleProject > img {
  margin: 10px 0 10px 0;
}

.projects .list_projects .singleProject .text_project {
  font-style: italic;
}

.projects .list_projects .singleProject .techno_project {
  margin: 10px 0 10px 0;
}

.projects .list_projects .singleProject .techno_project strong {
  font-weight: bold;
}

.projects .list_projects .singleProject .date {
  color: gray;
}

.skills {
  border-top: 2px solid rgba(212, 141, 141, 0.322);
  border-bottom: 2px solid rgba(190, 100, 100, 0.377);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 50px 0;
  background-color: rgba(212, 141, 141, 0.26);
}

.skills h1 {
  font-size: 3em;
  margin: 20px 0 40px 0;
  color: white;
  padding: 10px;
  background-color: #af704c;
}

.skillbar {
  position: relative;
  display: block;
  margin: 15px 0 15px 0;
  width: 80%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar .skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
}

.skillbar .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar .skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar .skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */